
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/gerencia_notas?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
    username: gradesuser
    password: gradespass
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc.time_zone: UTC
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080

jwt:
  issuer: grade-manager
  secret: ${JWT_SECRET:dev-secret-change-me}
  expiration-minutes: 120

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    enabled: true
